*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{
font-family:Arial,sans-serif;
background:#0f1f14;
color:white;
}

.hero{
min-height:100vh;
padding:40px;
background:linear-gradient(rgba(0,0,0,.65),rgba(0,0,0,.65));
}

.navbar{
display:flex;
justify-content:space-between;
align-items:center;
margin-bottom:60px;
}

.logo{
font-size:32px;
font-weight:bold;
color:#d4af37;
}

.navbar ul{
display:flex;
gap:30px;
list-style:none;
}

.navbar a{
color:white;
text-decoration:none;
font-weight:bold;
}

.hero-content{
display:grid;
grid-template-columns:1fr 1fr;
gap:40px;
align-items:center;
}

.hero-text span{
color:#d4af37;
font-size:18px;
}

.hero-text h1{
font-size:70px;
margin:20px 0;
}

.hero-text p{
font-size:20px;
line-height:1.6;
margin-bottom:30px;
}

.btn{
background:#d4af37;
color:black;
padding:15px 30px;
text-decoration:none;
font-weight:bold;
border-radius:8px;
}

.hero-image img{
width:100%;
border-radius:20px;
box-shadow:0 0 30px rgba(0,0,0,.5);
}

.menu{
padding:80px 40px;
background:#16281b;
}

.menu h2{
text-align:center;
font-size:50px;
margin-bottom:50px;
color:#d4af37;
}

.cards{
display:grid;
grid-template-columns:repeat(4,1fr);
gap:25px;
}

.card{
background:#1d3524;
border-radius:15px;
overflow:hidden;
}

.card img{
width:100%;
height:250px;
object-fit:cover;
}

.card h3{
padding:20px;
text-align:center;
}

.reserva{
padding:80px;
text-align:center;
background:#0f1f14;
}

.reserva h2{
font-size:50px;
color:#d4af37;
margin-bottom:20px;
}

.reserva p{
font-size:30px;
}

footer{
background:#0b150d;
padding:40px;
text-align:center;
}

@media(max-width:900px){

.hero-content{
grid-template-columns:1fr;
}

.cards{
grid-template-columns:1fr;
}

.hero-text h1{
font-size:45px;
}

}
